[submodule "packages/react-fast-marquee"]
	path = packages/react-fast-marquee
	url = git@github.com:dogedefi/react-fast-marquee.git
[submodule "packages/wired-styled-px2vw"]
	path = packages/wired-styled-px2vw
	url = git@github.com:dogedefi/wired-styled-px2vw.git
[submodule "packages/zip-webpack-plugin"]
	path = packages/zip-webpack-plugin
	url = git@github.com:dogedefi/zip-webpack-plugin.git
[submodule "packages/big3-new-component"]
	path = packages/big3-new-component
	url = git@github.com:dogedefi/big3-new-component.git
